* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.clear {
  clear: both;
}

.navbar {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #222222;
}

.nav-content {
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.nav-content ul {
  display: flex;
  align-items: center;
}

.nav-content ul li {
  list-style: none;
  margin: 0 10px;
}

.nav-content ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 4px;
  transition: 0.2s linear;
}

.nav-content ul li a:hover {
  color: #ff8000 !important;
}

body {
  background-color: #3c4048;
}

.container h1 {
  text-align: center;
  margin: 30px 0;
  color: #fff;
  font-size: 35px;
}

footer {
  background-color: #222222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 300px;
  padding: 30px 0;
  text-align: center;
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a {
  font-size: 16px;
  color: #ff8000;
  font-weight: 500;
}

.banner {
	height: 100vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 35, 0.7)
}
.banner h2 {
	color: #ffffff;
	z-index: 1;
	padding: 60px 25px;
}

section {
}
section h2 {
	width:80%;
	margin:0 auto;
	font-size: 90px;
	text-align: left;
	padding:20px 0;
	color: #000000;
	margin-bottom: 25px;
}

section h3 {
	width:80%;
	margin:0 auto;
	font-size: 90px;
	text-align: left;
	padding:20px 0;
	color: #000000;
	margin-bottom: 25px;
}

footer {
	padding:30px 0;
	background-color: #000000;
	color: #fff;
	text-align: center;
}
