/* Body */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    background-color: #222222;
    width: 100%;
    padding: 30px 30px;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
  }
  
  .inner-widht {
    max-width: 1750px;
    padding: 0 50px;
  }
  
  .navbar .inner-widht {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .webinarco {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
  }
  
  .navbar-menu a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.2s linear;
  }
  
  .navbar-menu a:hover {
    color: #ff8000 !important;
  }

  #kelolawebinar .buttons {
    margin-top: 100px;
    margin-left: 30px;
    width: fit-content;
    background-color: #ff8000;
  }
  
  #kelolawebinar .buttons a {
    display: inline-block;
    margin: 15px 5px;
    color: black;
    font-size: 15px;
    width: 180px;
    border: 1px solid #ff8000;
    border-radius: 2px;
    transition: 0.2s linear;
    text-align-last: center;
    background-color: transparent;
  }
  
  #kelolawebinar .title {
    margin-top: 100px;
    margin-left: 30px;
  }
  
  .detailwebinar {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  .webinars .picwebinar {
    width: 390px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .webinars p {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    margin-right: 15px;
  }
  
  .webinars:hover {
    background-color: #ff8000;
  }
  