* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.clear {
  clear: both;
}

.navbar {
  position: static;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
  background: black;
}

.nav-content {
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.nav-content ul {
  display: flex;
  align-items: center;
}

.nav-content ul li {
  list-style: none;
  margin: 0 10px;
}

.nav-content ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 4px;
}

body {
  background-color: #3c4048;
}

.container h1 {
  text-align: center;
  margin: 30px 0;
  color: #fff;
  font-size: 35px;
}

.photo-about {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
.photo-about > .photo {
  position: relative;
  left: 50%;
}
.photo-about ul li {
  list-style: none;
}

.photo li {
  width: 200px;
  height: 200px;
  margin-bottom: 80px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

.photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.photo li span {
  display: block;
  width: 200px;
  height: auto;
  position: absolute;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}
