* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "PT Serif", Georgia, serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background-color: #222222;
  width: 100%;
  padding: 30px 30px;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-widht {
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar .inner-widht {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.webinarco {
  color: #fff;
  font-size: 20px;
  margin: 0px 30px;
}

.navbar-menu a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #ff8000 !important;
}

#kelolawebinar .buttons {
  margin-top: 100px;
  margin-left: 60px;
  width: fit-content;
  background-color: #ff8000;
}

#kelolawebinar .buttons a {
  display: inline-block;
  margin: 15px 5px;
  color: black;
  font-size: 15px;
  width: 180px;
  border: 1px solid #ff8000;
  border-radius: 2px;
  text-align-last: center;
}

#kelolawebinar .title {
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
}

#kelolawebinar .buttons2 {
margin-left: 30px;
}

#kelolawebinar .buttons2 a {
  display: inline-block;
  text-align: center;
  margin: 15px 20px;
  color: #ff8000;
  font-size: 18px;
  width: 180px;
  border: 1px solid #ff8000;
  padding: 12px 0;
  border-radius: 6px;
  transition: 0.2s linear;
}

#kelolawebinar .buttons2 a:hover {
  background-color: #ff8000;
  color: #fff;
}

.detailwebinar {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 60px;
  margin-top: 30px;
  margin-right: 30px;
}

.webinars{
  margin-inline: 10px;
}
.webinars img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

.webinars p {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  margin-right: 15px;
}

.webinars a:hover {
  background-color: #ff8000;
  color: #fff;
}

.formWebinar {
  width: 100%;
  max-width: 900px;
  background: #f5f5f5;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  color: #222222;
}

.formWebinar h1 {
  margin-top: 0;
  font-weight: 200;
}

.formWebinar .column {
  display: flex;
  column-gap: 22px;
}

.txtb {
  border: 1px solid #222222;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  color: #222222;
}

.btn a,
.btn button {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  margin: 15px 20px;
  color: #222222;
  font-size: 18px;
  width: 180px;
  border: 1px solid #222222;
  padding: 12px 0;
  border-radius: 6px;
  transition: 0.2s linear;
}

.formWebinar .btn a:hover,
.formWebinar .btn button:hover {
  background-color: #222222;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #222222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 300px;
  padding: 30px 0;
  text-align: center;
}

.copyright {
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a {
  font-size: 16px;
  color: #ff8000;
  font-weight: 500;
}

.row{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 150px;
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  
}
.viewWebinar{
  min-height: 1px;
  padding-left: 20px;
}

.viewGambar{
  margin-left: 40px;
  margin-right: 30px;

}

.viewGambar img{
  width: 140%;
  height: auto;
  float: left;
}

.viewDeskripsi{
  position: relative;
  min-height: 1px;
  padding-left: 250px;
  box-sizing: border-box;
  display: block;
}

.viewWebinar .info{
  display: block;
}

.info h3{
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}

.info p{
  display: block;
  font-size: 20px;
}

.info ul{
  list-style: none;
  display: block;
  line-height: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}


